.header {
  width: 100%;
}
.logo {
  height: 100%;
  display: block;
}
.logo a {
  width: 100%;
  display: flex;
  max-height: 64px;
}
.logo img {
  max-height: 54px;
  margin-top: 10px;
  display: block;
}
.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menubar {
  font-size: 25px;
  cursor: pointer;
}

.menuWrap {
  width: 100%;
}
.menuWrap ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}
